<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="c4-gun-api-cordova-plugin"
    version="1.0.1">
    <name>C4GunApiCordovaPlugin</name>
    <description>C4 Gun API</description>
    <license>MIT</license>
    <keywords>C4,gun,api</keywords>
    <repo>https://github.com/hschindler/c4-gun-api-cordova-plugin.git</repo>
    <issue>https://github.com/hschindler/c4-gun-api-cordova-plugin.git/issues</issue>
    <js-module src="www/c4GunAPI.js" name="C4GunApiCordovaPlugin">
    <runs/>
        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="C4GunApiCordovaPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <hook type="before_plugin_install" src="scripts/update_build_gradle.js" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="C4GunApiCordovaPlugin" >
                <param name="android-package" value="de.schindlergmbh.cordova.c4.gun.C4GunApiCordovaPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- <uses-permission android:name="android.permission.NFC" />
            <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
            <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-feature android:name="android.hardware.nfc" android:required="false" /> -->
        </config-file>


        <!-- <framework src="cn.pda.serialport:serialport" custom="true"/>
        <framework src="com.hhw.uhfm:uhf_m_v1.4" custom="true"/> -->

        <framework src="src/android/extras.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/de/schindlergmbh/cordova/c4/C4GunApiCordovaPlugin.java" target-dir="src/de/schindlergmbh/cordova/c4/" />
        <!-- <source-file src="src/android/libs/serialport.jar" target-dir="libs" />
        <source-file src="src/android/libs/uhf_m_v1.4.jar" target-dir="libs" />         -->
        <lib-file src="src/android/libs/serialport.jar" arch="device" /> 
        <lib-file src="src/android/libs/uhf_m_v1.4.jar" arch="device" /> 
        
        <source-file src="src/android/libs/armeabi/libdevapi.so" target-dir="libs/armeabi" />        
        <source-file src="src/android/libs/armeabi/libirdaSerialPort.so" target-dir="libs/armeabi" />       
        <source-file src="src/android/libs/armeabi-v7a/libdevapi.so" target-dir="libs/armeabi-v7a" />        
        <source-file src="src/android/libs/armeabi-v7a/libirdaSerialPort.so" target-dir="libs/armeabi-v7a" />
        
        <resource-file src="src/android/libs/armeabi/libdevapi.so" target="libs/armeabi" />
    </platform>



</plugin>
